<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Hospital Data</title>
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/custom.css">
</head>
<%- include('partials/navbar.ejs') %>
<body>
    <div class="data-body">
        <div class="var-form" id="instructions">
            <h2>Create custom cost report dataset:</h2>
        </div>
        <div class="var-form" id="fac-select">
            <h2>Select Facilities</h2>
        </div>
        <div class="var-form" id="attr-select">
            <h2>Select Attributes</h2>
        </div>
        <div class="var-form" id="var-form">
            <h2>Choose Custom Variables</h2>
            <div class="wksht-select-form">
                <h3>Select Cost Report Worksheet</h3>
                <label for="wksht-select"><b>Worksheet</b></label>
                <select name="wksht-select" id="wksht-select">
                    <option value="S100000">S-10</option>
                    <option value="S000001">S Part 1</option>
                    <option value="S000002">S Part 2</option>
                </select>
                <button id="btn-wksht-select">Submit</button>
            </div>
            <div class="var-form hidden" id="var-cart">
                <h3 id="var-cart-h3">Variable Cart</h3>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>
    <script type="module" src="scripts/custom.js"></script>
</body>
</html>
